<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ygh547.matchrun"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".kakao.GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Matchrun"
        android:usesCleartextTraffic="true"
        android:extractNativeLibs="true"
        tools:targetApi="31">

<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="${MAPS_API_KEY}"/>-->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ChatActivity"
            android:exported="false" />

        <activity
            android:name=".ewqeqwdasd"
            android:exported="false" />
        <activity
            android:name=".MyTeamActivity"
            android:exported="false" />
        <activity
            android:name=".TeamRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".login.SecondfindpasswordActivity"
            android:exported="false" />
        <activity
            android:name=".login.findpasswordActivity"
            android:exported="false" />
        <activity
            android:name=".login.SecondfindidActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login.findidActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="db6de365f2ab518b256e996e8fe03cfa" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="matchrun-808f7-default-rtdb.firebaseio.com"
                    android:scheme="https" />
                <data
                    android:host="oauth"
                    android:scheme="kakaodb6de365f2ab518b256e996e8fe03cfa" />
            </intent-filter>
        </activity>
    </application>

</manifest>